#ladowanie
{
   color: white;
   text-align: center;
}

* {
	scroll-behavior: smooth;
}

.boczny
{
   margin: 0 !important;
}

.glowna
{
   background: url("stars.png");
   color: white;
   padding-left:40px;
   align-items: stretch;
   border: 10px groove white;
   margin-top: 20px;
}

#bok
{
   animation-name: wynik;
   animation-duration: 8s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   -webkit-animation-name: wynik;
   -webkit-animation-duration: 8s;
   position: relative;
   animation-direction: alternate;
}



main
{
   animation-name: wynik;
   animation-duration: 8s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   -webkit-animation-name: wynik;
   -webkit-animation-duration: 8s;
   position: relative;
   animation-direction: alternate;
}


@keyframes wynik
   {
      0% {margin-top: 0;}
      25% {margin-top: 15px;}
      50% {margin-top: 30px;}
      75% {margin-top: 15px;}
      100% {margin-top: 0;}
   }