
body
{
   background: url("bg.jpg");
   background-attachment: scroll;
}


* 
{
	scroll-behavior: smooth;
}

.klik
{
   background-color: rgb(252, 199, 54) !important;
   border: 1px solid rgb(255, 208, 0) !important;
}


.klik:hover
{

   background-color: rgb(255, 153, 0) !important;
   transition-duration: 2s;
   border: 1px solid rgb(212, 128, 2) !important;
}
.klik:focus
{
   background-color: rgb(255, 153, 0) !important;
   transition-duration: 2s;
   border: 1px solid rgb(212, 128, 2) !important;
}

#star
{
   opacity: 0;

}

@keyframes wynik
{
   0% {margin-top: 0;}
   25% {margin-top: 15px;}
   50% {margin-top: 30px;}
   75% {margin-top: 15px;}
   100% {margin-top: 0;}
}