
body
{
   background: url("bg.jpg");
   background-attachment: scroll;
}


.klik
{
   background-color: rgb(252, 199, 54) !important;
   border: 1px solid rgb(255, 208, 0) !important;
}


.klik:hover
{

   background-color: rgb(255, 153, 0) !important;
   transition-duration: 2s;
   border: 1px solid rgb(212, 128, 2) !important;
}
.klik:focus
{
   background-color: rgb(255, 153, 0) !important;
   transition-duration: 2s;
   border: 1px solid rgb(212, 128, 2) !important;
}

#s1
{
   top: 150px;
   left: 100px;
   animation-duration: 9s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   -webkit-animation-duration: 9s;
   position: relative;
}

#s2
{
   top: 250px;
   left: 1000px;
   animation-duration: 11s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   -webkit-animation-duration: 11s;
   position: relative;
}

#s3
{
   top: 360px;
   left: 300px;
   animation-duration: 7s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   -webkit-animation-duration: 7s;
   position: relative;
}

.star
{
   width: 30px;
   height: 30px;
   font-weight: bold;
   font-size: 30px;
   color: white;
   border-radius: 100%;
   -webkit-box-shadow: 10px -9px 26px 1px rgba(255,255,255,1);
   -moz-box-shadow: 10px -9px 26px 1px rgba(255,255,255,1);
   box-shadow: 10px -9px 26px 1px rgba(255,255,255,1);
   animation-name: wynik;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   -webkit-animation-name: wynik;
   -webkit-animation-duration: 10s;
   position: relative;
}



@keyframes wynik
{
   0% {opacity: 1;}
   1% {opacity: 0;}
   20% {opacity: 0;}
   100% {opacity: 0;}
}